* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.container {
    background-color: #1057f6;
    padding: 20px 15rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 
.column-1 {
    flex: 1;
    text-align: start;
    padding: 10px;
}

.column-2 {
    flex: 2; 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.column-3{
    flex: 1;
    text-align: end;
    padding: 10px;
}

a{
    color: white;   
}

button{
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 60px;
}

/* Main Debug*/


.debug .fifth_section{
    background-color: #8080804f;
    height: 600px;
    padding: 2rem 20rem;
    
}

.debug .container4_main{
    background-color: green;
    height: 100%;
    border: 2px dashed black;

}

.debug .row_container{
    background-color: black;
    display: flex;
    height: 400px;
    padding: 1rem 20rem 2rem 20rem;


}

.debug .column_main{
    flex: 2;
    height: 100%;
    background-color: #d67979;
    border: 2px dashed black;

}

.debug .column_minor{
    flex: 1;
    height: 100%;
    background-color: #4aa6a3;
    border: 2px dashed white;

}

/* Main */
.first_section{
    background-image: url(./img/jumbo.png);
    height: 500px;
    padding: 6rem 27rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.container1_main{
    height: 100%;
}

.container1_main h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: xxx-large;
}

.container1_main p{
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0px 21px;
    line-height: 1.5;
}

.container1_main .download{
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    height: 42px;
    width: 13rem;
    margin-left: 6rem;
    margin-right: 1rem;
}

.container1_main .open{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    height: 42px;
    width: 15rem;
}


.second_section, .fourth_section {
    height: 500px;
    background-color: white;
}

.container2_main{

    padding: 2rem 20rem;
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;

}

.item1{
    flex: 1.5;
}

.item1 img{
    margin-left: -1rem;
    max-width: 96%;
}
.item2{
    flex: 1;
}

.container2_main h1{
    font-size: 2.2em;
    margin: 3rem 0rem 1rem 6rem;
}

.container2_main p{
    margin-left: 6rem;
    margin-right: -2rem;
    line-height: 1.5;
}

.third_section{
    height: 600px;
    background-color: #d3d3d35c;
}

.container3_main{

    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;

}

.container3_main .item2{
    margin: 2rem;

}

.container3_main h1{
    font-size: 2.2em;
    margin: -7rem 0rem 1rem 17rem;
}

.container3_main p{
    margin-left: 17rem;
    margin-right: 1rem;
    line-height: 1.5;
}

.container3_main img{
    margin-left: 4rem;
    max-width: 60%;

}

.edit_image{
    padding-top: 5rem;
}

.fifth_section{}

.container4_main{}

.row_container{}

.column_main{}

.column_minor{}

hr{
    background-color: white;
}

/* Footer */

footer {
    background-color: black;
    padding: 1rem 20rem 0rem 20rem;
}

.container_footer {
    background-color: #38f6d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

 
.logo {
    border: 2px dashed black;
    background-color: #ffc0c0;
    padding: 5px;
}

.button{
    border: 2px dashed black;
    background-color: #ffc0c0;
    padding: 5px;
}
